.create-page {
    padding: 3rem;
}

.issues-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: .5rem;

    // padding: 3rem;

    .issue {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        border: 1px solid gray;
        border-radius: 5px;
        padding: 1rem;

        button {
            width: max-content;
        }
    }

    .add-issue {
        grid-column: span 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.credits-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

