.create-page {
    padding: 3rem;
    
    @media (max-width: 768px) {
        padding: 1rem;
    }
}

.issues-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: .5rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    // padding: 3rem;

    .issue {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        border: 1px solid gray;
        border-radius: 5px;
        padding: 1rem;

        button {
            width: max-content;
        }
    }

    .add-issue {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}





.credits-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

