@use "sass:meta";
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500;700&family=Cambo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 14px;
}

@include meta.load-css('layout');
@include meta.load-css('tutorial');
@include meta.load-css('form');
@include meta.load-css('create-page');
@include meta.load-css('vote-page');
@include meta.load-css('visualizers');
@include meta.load-css('issue-cards');
@include meta.load-css('result-visualizer');
@include meta.load-css('animations');



