* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 12px;
}

body {
    // padding: 1rem;
    font-family: sans-serif;
    // max-width: 800px;
    margin: 0 auto;

    overscroll-behavior-x: none;
}

button {
    cursor: pointer;
    padding: 1rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: max-content;
}

progress {
    width: 100%;
    -webkit-appearance: none;

    margin-bottom: 1rem;

    &::-webkit-progress-bar {
        background-color: #9d9d9d;
    }

    &::-webkit-progress-value {
        background-color: green;
    }

    &.negative::-webkit-progress-value {
        background-color: red;
    }
}


.data-overview {
    padding: 2rem;
}

.credits-visualizer {

    width: 200px;
    height: 200px;
    // border: 1px solid black;
    background-color: white;
    border-radius: 50%;

    position: relative;

    .credits-visualizer-next-vote {

        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid black;
        transform: rotate(45deg);

        transition: transform 1.5s;


        top: 0;
        left: 0;

        position: absolute;
    }

    .credits-visualizer-inner {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        // background-color: gray;
        transform: rotate(45deg);


        transition: background-color 2.5s;

        transform: scale(1);

        &.negative {
            background-color: red;
        }

        &.positive {
            background-color: green;
        }

        &.pool {
            background-color: blue!important;
        }
    }


}


.voting-round {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;


    .voting-interface {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .credit-pool {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }

    .issues {
        width: 100%;
        display: flex;
        overflow-x: auto;
        max-width: 100%;

        gap: 1rem;
        padding: 1rem;

        .issue {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding: 1rem;
            border: 1px solid black;
            border-radius: 5px;
            width: 100%;
            max-width: 100%;
            
            
        }
    }


    
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}