.issue-cards {
    padding-top: 5rem;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    grid-template-columns: 1fr 1fr;
    


    $distance: 15rem;
    gap:1rem;
    row-gap: 10rem;
    width: 100%;
    max-width: 600px;
    padding-bottom: calc(30rem + 5rem);

    .issue-card {
        &:nth-child(2n) {
            transform: translateY(20rem);
        }
    }

    &.visible {
        .issue-card {
            opacity: 0;
            animation: cardIntroOpacity 3s ease forwards;

            .front {
                animation: cardIntroFlipFront 3s ease;
            }

            .back {
                animation: cardIntroFlipBack 3s ease;
            }

            @for $i from 1 through 20 {
                &:nth-child(#{$i}) {
                    animation-delay: #{$i * 0.1}s;
                    .front, .back {
                        animation-delay: #{$i * 0.1}s;
                    }
                }
            }
        }
    }
}

.issue-card {
    width: 100%;
    // aspect-ratio: 3/4;
    height: 25rem;
    perspective: 1000px;
    position: relative;
    opacity: 0;

    // // even
    // &:nth-child(even) {
    //     margin-top: 100px;
    // }

    .issue-card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .issue-card-emoji {
            font-size: 1.8rem;
        }

        .flip {
            cursor: pointer;
            opacity: .5;
            transition: opacity .2s;

            &:hover {
                opacity: 1;
            }
        }
    }

    .issue-card-visualizer {
        width: 100%;
        display: flex;
        justify-content: center;

        .emoji {
            transition: filter 2s;
        }
    }

    .issue-card-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-self: flex-end;
        justify-self: flex-end;
        
        


        button {
            padding: .5rem;
            background-color: transparent;
            border: 2px solid gray;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color .2s;

            font-size: 2rem;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }

    transition: all 0.4s;
    filter: grayscale(100%) blur(2px);
    scale: .8;
    opacity: .5;


    &.selected {
        filter: grayscale(0%) blur(0px);
        scale: 1;
        opacity: 1;
      
    }

    &.neutral {
        .issue-card-visualizer {
            .emoji {
                filter: grayscale(100%);
            }
        }
    }

    &.positive {
        .front, .back {
            // border: 5px solid green;
            // background-color: rgba(0, 128, 0, 0.1);
        }

     
    }

    &.negative {
        .front, .back {
            // border: 4px solid purple;
            // background-color: rgba(128, 0, 0, 0.1);
        }
    }

    .front, .back {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 1rem;
        backface-visibility: hidden;
        border: 2px solid gray;
        transition: border 1.6s, transform 0.6s;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        transform-style: preserve-3d;
    }

    .front {
        transform: rotateY(0deg);
    }

    .back {
        transform: rotateY(-180deg);
    }

    &.flipped {
        .front {
            transform: rotateY(180deg) !important;
        }
        .back {
            transform: rotateY(0deg) !important;
        }
    }
}