body {
    // padding: 1rem;
    font-family: sans-serif;
    // max-width: 800px;
    margin: 0 auto;

    overscroll-behavior-x: none;

    background-color: #f8f3e8;
    background: linear-gradient(40deg, #ddfff7 0%, #f8f3e8 78.42%);
    background-size: 150% 150%;
    animation: BackgroundGradient 10s ease-in-out infinite;

    min-height: 100svh;
}

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

.front-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    padding: 2rem;

    @media screen and (max-width: 1200px) {
        padding: 1rem;
    }

    max-width: 1200px;
    margin: 0 auto;
}

footer {
    width: 100%;
    padding: 1rem;
    padding-top: 4rem;
    text-align: center;
    margin-top: auto;

    // opacity: .75;

    display: flex;
    flex-direction: column;
    align-items: center;


    .heart-footer {
        display: inline-block;
        animation: heartbeat 1s infinite;
    }

   
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cambo', serif;
}

h1 {
    font-size: 2rem;
}

// .homepage {
//     h1 {
//         font-size: 1.75rem;
//     }
// }

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    max-width: 60ch;
}

a {
    color: #13a89e;
    text-decoration: none;

    &:hover {
        color: #16c9bd;
        text-decoration: underline;
    }
}


.page-section {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    justify-content: center;
    align-items: center;

    margin-bottom: 3rem;
    padding-bottom: 3rem;
    padding-top: 3rem;

    article {

        width: 100%;
        max-width: 60ch;
        display: flex;
        gap: .5rem;
        margin-bottom: 1rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;


       
        button {
            align-self: center;
        }


        &.center-text {
            align-items: center;
            text-align: center;
            justify-content: center;
            
        }
    }


}