.vote-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;



    header {
        text-align: center;
    }



}

.percentage-left {
    text-align: center;
}